{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% block title %}Dnsmon - Add Domain{% endblock %}
{% block navbar %}
<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">DnsMon</a>
    </div>
    <div class="container">
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li><a href="{{ url_for('dashboard') }}">Dashboard</a></li>
            <li class="active"><a href="{{ url_for('add_domains') }}">New</a></li>
            <li><a href="{{ url_for('search') }}">Search</a></li>
          </ul>
        </div><!--/.nav-collapse -->
    </div>
</div>
{% endblock %}
{% block content %}
<div  class="container theme-showcase" role="main">
    <div class="page-header">
        <h1>Add Domains</h1>
    </div>

    <div>
        {{ wtf.quick_form(form) }}
    </div>

</div>
{% endblock %}